{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "AlekEagle ShareX Server",
        "license": {
            "name": "MIT"
        },
        "contact": {
            "name": "Alek Evans",
            "email": "contact@alekeagle.com"
        }
    },
    "servers": [
        {
            "url": "https://alekeagle.me/api",
            "description": "Production Server"
        }
    ],
    "paths": {
        "/user/": {
            "get": {
                "summary": "Details about a user",
                "operationId": "listUser",
                "tags": ["user"],
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID of the user",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Details about a user",
                        "headers": {
                            "x-next": {
                                "description": "A link to the next page of responses",
                                "schema": {
                                    "type": "string"
                                }
                            }
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Self": {
                "type": "object",
                "required": [
                    "id",
                    "username",
                    "displayName",
                    "email",
                    "staff",
                    "apiToken",
                    "domain",
                    "subdomain",
                    "bannedAt",
                    "createdAt",
                    "updatedAt"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "displayName": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "staff": {
                        "type": "string"
                    },
                    "apiToken": {
                        "type": "string"
                    },
                    "domain": {
                        "type": "string"
                    },
                    "subdomain": {
                        "type": "string"
                    },
                    "bannedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "updatedAt": {
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "User": {
                "type": "object",
                "required": [
                    "id",
                    "username",
                    "displayName",
                    "staff",
                    "createdAt",
                    "bannedAt"
                ],
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "username": {
                        "type": "string"
                    },
                    "displayName": {
                        "type": "string"
                    },
                    "staff": {
                        "type": "string"
                    },
                    "createdAt": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "bannedAt": {
                        "type": "string",
                        "format": "date-time",
                        "nullable": true
                    }
                }
            }
        }
    }
}
